        body {
            padding-bottom: 30px;
            margin: 0;
            min-height: 100%;
            overflow: hidden;
            opacity: 0.25;
            /* Początkowa przeźroczystość */
            transition: opacity 0.7s;
            /* Animacja zmiany przeźroczystości trwa 0,7 sekundy */
        }
        
        a {
            transition: background 0.2s, color 0.2s;
        }
        
        #content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
            top: 100px;
            overflow: hidden;
            /* Dodaj tę linię, aby ukryć przewijanie */
        }
        
        form {
            min-height: 400px;
            -webkit-box-shadow: -2px 0px 32px 12px rgba(70, 66, 60, 1);
            -moz-box-shadow: -2px 0px 32px 12px rgba(70, 66, 60, 1);
            box-shadow: -2px 0px 32px 12px rgba(70, 66, 60, 1);
        }
        
        input,
        select {
            background-color: #e6f7ff;
            border: 1px solid #3399ff;
            color: #000;
            border-radius: 5px;
        }
        
        .form-control {
            border: none;
            /* Dodaj dodatkowe stylizacje, jeśli to konieczne */
        }
        
        a:hover,
        a:focus {
            text-decoration: none;
        }
        
        #wrapper {
            padding-left: 0;
            transition: all 0.5s ease;
            position: relative;
        }
        
        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 250px;
            width: 0;
            height: 100%;
            margin-left: -250px;
            overflow-y: auto;
            overflow-x: hidden;
            background: #222;
            transition: all 0.5s ease;
        }
        
        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }
        
        .sidebar-brand {
            position: absolute;
            top: 0;
            width: 250px;
            text-align: center;
            padding: 20px 0;
        }
        
        .sidebar-brand h2 {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
        }
        
        .sidebar-nav {
            position: absolute;
            top: 75px;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .sidebar-nav>li {
            text-indent: 10px;
            line-height: 42px;
        }
        
        .sidebar-nav>li a {
            display: block;
            text-decoration: none;
            color: #757575;
            font-weight: 600;
            font-size: 18px;
        }
        
        .sidebar-nav>li>a:hover,
        .sidebar-nav>li.active>a {
            text-decoration: none;
            color: #fff;
            background: #F8BE12;
        }
        
        .sidebar-nav>li>a i.fa {
            font-size: 24px;
            width: 60px;
        }
        
        #navbar-wrapper {
            width: 100%;
            position: absolute;
            z-index: 2;
        }
        
        #wrapper.toggled #navbar-wrapper {
            position: absolute;
            margin-right: -250px;
        }
        
        #navbar-wrapper .navbar {
            background-color: #eee;
            font-size: 24px;
            margin-bottom: 0;
            border-radius: 0;
        }
        
        #navbar-wrapper .navbar a {
            color: #757575;
        }
        
        #navbar-wrapper .navbar a:hover {
            color: #F8BE12;
        }
        
        #content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
            top: 100px;
        }
        
        #wrapper.toggled #content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
        /* ... Your existing styles ... */
        /* Stylizacja wszystkich modali */
        
        .modal .modal-dialog {
            max-width: 600px;
        }
        
        .modal .modal-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .modal .input-group {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        
        .modal .input-group .col-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        
        .modal .btn {
            width: auto;
        }
        /* Additional styles for the overlay */
        
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
            /* Adjust the transparency as needed */
        }
        /* Adjust modal position for smaller screens */
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
        }
        @media (max-width: 767px) {
            .modal {
                margin-top: 10%;
            }
        }
        
        @media (min-width: 992px) {
            #wrapper {
                padding-left: 250px;
            }
            #wrapper.toggled {
                padding-left: 60px;
            }
            #sidebar-wrapper {
                width: 250px;
            }
            #wrapper.toggled #sidebar-wrapper {
                width: 60px;
            }
            #wrapper.toggled #navbar-wrapper {
                position: absolute;
                margin-right: -190px;
            }
            #wrapper.toggled #content-wrapper {
                position: absolute;
                margin-right: -190px;
            }
            #navbar-wrapper {
                position: relative;
            }
            #wrapper.toggled {
                padding-left: 60px;
            }
            #content-wrapper {
                position: relative;
                top: 0;
            }
            #wrapper.toggled #navbar-wrapper,
            #wrapper.toggled #content-wrapper {
                position: relative;
                margin-right: 60px;
            }
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            #wrapper {
                padding-left: 60px;
            }
            #sidebar-wrapper {
                width: 60px;
            }
            #wrapper.toggled #navbar-wrapper {
                position: absolute;
                margin-right: -250px;
            }
            #wrapper.toggled #content-wrapper {
                position: absolute;
                margin-right: -250px;
            }
            #navbar-wrapper {
                position: relative;
            }
            #wrapper.toggled {
                padding-left: 250px;
            }
            #content-wrapper {
                position: relative;
                top: 0;
            }
            #wrapper.toggled #navbar-wrapper,
            #wrapper.toggled #content-wrapper {
                position: relative;
                margin-right: 250px;
            }
        }
        
        @media (max-width: 767px) {
            #wrapper {
                padding-left: 0;
            }
            #sidebar-wrapper {
                width: 0;
            }
            #wrapper.toggled #sidebar-wrapper {
                width: 250px;
            }
            #wrapper.toggled #navbar-wrapper {
                position: absolute;
                margin-right: -250px;
            }
            #wrapper.toggled #content-wrapper {
                position: absolute;
                margin-right: -250px;
            }
            #navbar-wrapper {
                position: relative;
            }
            #wrapper.toggled {
                padding-left: 250px;
            }
            #content-wrapper {
                position: relative;
                top: 0;
            }
            #wrapper.toggled #navbar-wrapper,
            #wrapper.toggled #content-wrapper {
                position: relative;
                margin-right: 250px;
            }
            #yourIdx {
                height: 75vh;
                /* Dla urządzeń mobilnych, formularz ma mieć 75% wysokości ekranu */
            }
        }